@use "../../Variables.module.scss" as v;
.ConfirmPrompt_backdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: v.$secondary-background-color-low-opacity;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.ConfirmPrompt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 20%;
  .ConfirmPrompt_content {
    width: 100%;
    height: 100%;
    background-color: v.$primary-background-color;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    h3 {
      letter-spacing: 0.6px;
      margin: 0;
    }
    .ConfirmPrompt_content_btns {
      span {
        cursor: pointer;
        margin: 0 20px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.6px;
        padding: 5px 8px;
        border-radius: 5px;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        transition: color 150ms;
      }

      .ConfirmPrompt_btn_confirm {
        border: 2px solid #69b779;
        &:hover {
          color: #69b779;
        }
      }

      .ConfirmPrompt_btn_cancel {
        border: 2px solid #f37d79;
        &:hover {
          color: #f37d79;
        }
      }
    }
  }
}
