# Build
/MCManager

# Backend
/api/dockerresponse.json
/api/tmp/
/api/config.db
/api/go-build.txt
/api/log.txt


# Frontend
# dependencies
/src/node_modules
/src/.pnp
/src/.pnp.js
/src/yarn.lock

# testing
/src//coverage

# next.js
/src/.next/
/src/out/

# production
/src/build

# misc
/src/.DS_Store
/src/*.pem

# debug
/src/npm-debug.log*
/src/yarn-debug.log*
/src/yarn-error.log*
/src/.pnpm-debug.log*

# local env files
/src/.env*.local

# vercel
/src/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# docker
Dockerfile
Dockerfile-amd64
Dockerfile-arm64