@use "../../../../Variables.module.scss" as v;
@use "../../../../Mixins.scss" as m;

.SingleTabSettings {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  @include m.scrollbars(
    none,
    8px,
    v.$primary-color,
    v.$primary-background-color
  );
  .SingleTabSettings_option_section {
    margin: 7.5px 0;
    width: 100%;
    height: 150px;
    .SingleTabSettings_option_header {
      font-weight: 700;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      border-bottom: 2px solid v.$primary-color;
      width: 30%;
      padding-bottom: 2px;
      margin-bottom: 5px;
      span {
        font-size: 14px;
        opacity: 0.6;
      }
    }

    .SingleTabSettings_option_container {
      width: 100%;
      .SingleTabSettings_option_content {
        margin: 5px 0 20px 0;
        display: flex;
        align-items: center;
        gap: 10px;
        .SingleTabSettings_content_title {
          font-weight: 500;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-size: 14px;
          opacity: 0.8;
        }
      }

      select {
        // appearance: none;
        background-color: v.$primary-background-color;
        border: none;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        cursor: pointer;
        outline: none;
        color: white;
        padding: 2px 4px;
        border-radius: 5px;
      }
      select::-ms-expand {
        display: none;
      }

      input {
        background-color: v.$primary-background-color;
        border: none;
        margin: 0;
        margin-left: 5px;
        font-family: inherit;
        font-size: inherit;
        outline: none;
        color: white;
        padding: 2px 4px;
        border-radius: 5px;
      }

      .SingleTabSettings_btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 0.6px;
        border: 2px solid v.$primary-background-color;
        padding: 5px 8px;
        border-radius: 5px;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        transition: border-color 150ms;
        &:hover {
          border-color: white;
        }
      }

      .SingleTabSettings_error {
        font-size: 12px;
        font-weight: 700;
        display: flex;
        align-items: center;
        letter-spacing: 0.6px;
        color: v.$primary-color;
      }
    }
  }
}
