@use "./Variables.module.scss" as v;
@use "./Mixins.scss" as m;

.Home {
  margin: 0 auto;
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  h1 {
    text-align: center;
  }
  .Home_status {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 25px;
    border-bottom: 2px v.$primary-background-color solid;
    .Home_status_title {
      font-weight: 600;
      letter-spacing: 1px;
      opacity: 0.8;
      text-transform: uppercase;
      text-align: center;
    }

    .Home_status_server {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
    }
    .Home_status_control {
      display: flex;
      justify-content: center;
      gap: 20px;
      .Home_control_btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.6px;
        border: 2px solid v.$primary-background-color;
        padding: 5px 8px;
        border-radius: 5px;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
    }
  }

  .Home_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .Home_content_ping_data {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-bottom: 25px;
      border-bottom: 2px v.$primary-background-color solid;

      .Home_content_ping_data_item {
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: 600;

        .Home_content_data_item_title {
          opacity: 0.95;
        }

        .Home_content_data_item_info {
          opacity: 0.8;
          font-size: 14px;
        }

        ul {
          max-height: 170px;
          overflow-y: auto;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          margin: 5px 0 0 0;
          @include m.scrollbars(
            none,
            8px,
            v.$primary-color,
            v.$primary-background-color
          );
          li {
            text-transform: none;
            margin: 5px 15px 0 15px;
            opacity: 0.8;
            font-size: 14px;
          }
        }
      }
    }

    .Home_content_actions {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-bottom: 25px;
      border-bottom: 2px v.$primary-background-color solid;

      .Home_content_actions_rcon {
        display: flex;
        align-items: center;
        gap: 5px;

        .Home_content_rcon_title {
          text-transform: uppercase;
          letter-spacing: 1.5px;
          font-weight: 600;
          opacity: 0.95;
        }

        input {
          border: none;
          outline: none;
          height: 25px;
          width: 250px;
          border-radius: 5px;
          padding: 0 5px;
        }

        .Home_content_rcon_btn {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 5px;
          text-transform: uppercase;
          font-size: 11px;
          font-weight: 700;
          letter-spacing: 0.6px;
          border: 2px solid v.$primary-background-color;
          padding: 5px 8px;
          border-radius: 5px;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          transition: border-color 150ms;
          &:hover {
            border-color: white;
          }
        }

        .Home_content_rcon_response {
          font-size: 14px;
          opacity: 0.8;
        }
      }

      .Home_content_actions_backup {
        width: 100%;
        display: flex;
        gap: 5px;
        align-items: center;
        .Home_content_backup_title {
          text-transform: uppercase;
          letter-spacing: 1.5px;
          font-weight: 600;
          opacity: 0.95;
        }

        .Home_content_backup_btn {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 5px;
          text-transform: uppercase;
          font-size: 11px;
          font-weight: 700;
          letter-spacing: 0.6px;
          border: 2px solid v.$primary-background-color;
          padding: 5px 8px;
          border-radius: 5px;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          transition: border-color 150ms;
          &:hover {
            border-color: white;
          }
        }

        .Home_content_backup_message {
          position: relative;
          font-size: 14px;
          opacity: 0.8;
          .Home_content_backup_message_spinner {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
            display: inline-block;
            width: 10px;
            height: 10px;
            &:after {
              content: " ";
              display: block;
              width: 10px;
              height: 10px;
              margin: 8px;
              border-radius: 50%;
              border: 4px solid #fff;
              border-color: v.$primary-color v.$secondary-background-color
                transparent;
              animation: lds-dual-ring 1.2s linear infinite;
            }
          }

          @keyframes lds-dual-ring {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }

  .Home_settings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    letter-spacing: 0.6px;
    opacity: 0.8;
    a {
      color: v.$primary-color;
      &:hover {
        color: v.$primary-color-low-opacity;
      }
    }
  }
}
