$primary-color: #fe5260;
$primary-color-low-opacity: #fe5260b9;

// background colors
$primary-background-color: #3b3853;
$secondary-background-color: #2a263d;
$secondary-background-color-low-opacity: #2a263d52;

:export {
  primaryColor: $primary-color;
  primaryColorLowOpacity: $primary-color-low-opacity;
  primaryBackgroundColor: $primary-background-color;
  secondaryBackgroundColor: $secondary-background-color;
}
